*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #f3f4ec;
  width: 100%;
  height: 15%;
  clear: both;
  content: '';
  display: table;
}

.menu{
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

img{
  width: 120px;
  height: 100px;
  float: left;
  padding: 8px;
}

nav{
  float: right;
}

nav ul li{
  list-style: none;
  margin-left: 75px;
  padding: 25px 0;
  float: left;
  position: relative;
}

nav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2em;
}

.banner{
  display: flex;
  height: 85%;
  width: 100%;
  background-image: url(https://mott.pe/noticias/wp-content/uploads/2019/04/10-programas-para-hacer-imagenes-con-movimiento-de-manera-sencilla.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.banner-interno{
  height: 60%;
  width: 60%;
}

.banner h2{
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 5em;
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

.banner p{
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.banner button{
  display: block;
  width: 30%;
  height: 15%;
  margin-left: 35%;
  margin-top: 5%;
  color: rgb(255, 255, 255);
  background-color: #a9e9e1;
  border: none;
  font-size: 1.5em;
  border-radius: 5px;
}
