*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: rgb(240, 236, 231);
  height: 20%;
  width: 100%;
  display: border-box;
  padding: 0%;
}

img{
  position: relative;
  display: inline-block;
  width: 20%;
  height: 80%;
  margin-left: 5%;
  margin-right: 45%;
}

.button-courses,.button-logout{
  display: inline-block;
  height: 30%;
  width: 10%;
  margin-right: 5%;
  padding: 0%;
  border: 0% none black;
}

div{
  display: block;
  height: 80%;
  background-color: aqua;
}
