<div class="container-sm mt-5">
    <nav class="navbar-sm navbar-light" >
        <div class="container-fluid">
            <span class="navbar-text mb-0 h1 fw-bold fs-5 ">Parametros generales</span>
          </div>
      </nav>
      <br>
      <div class="col-11">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-light me-md-2" type="button">
                <img src="https://icons555.com/images/icons-black/image_icon_add_pic_512x512.png" alt="" width="30" height="30"> Agregar
        </button>
       </div>
    </div>   
        <div class="row"><br>
            
            <div class="col-1"></div>
            <div class="col-11">
            
                <h2 class="fst-normal text-start py-5">Modulo 1</h2>
             
            <div class="row mb-3">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Nombre del modulo :</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-6" id="colFormLabelSm">
                </div>
            </div><br>

            <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Cantidad de dias :</label>
                    <div class="col-sm-2">
                        <select class="form-select form-select-sm" number=".form-select-sm example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                <div class="col-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-dark me-md-2" type="button">
                            <img src="http://www.lkl18.com/wp-content/uploads/2017/06/158-icono-de-una-tuerca.png" alt="" width="20" height="20">
                        </button>
                        <button class="btn btn-outline-dark" type="button">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                
                <h2 class="fst-normal text-start py-5">Modulo 2</h2>
    
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Nombre del modulo :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-6" id="colFormLabelSm">
                    </div>
                </div><br>
    
                
                    <div class="row mb-3">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Cantidad de dias :</label>
                        <div class="col-sm-2">
                            <select class="form-select form-select-sm" number=".form-select-sm example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-dark me-md-2" type="button">
                                    <img src="http://www.lkl18.com/wp-content/uploads/2017/06/158-icono-de-una-tuerca.png" alt="" width="20" height="20">
                                </button>
                                <button class="btn btn-outline-dark" type="button">Eliminar</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                    
                <h2 class="fst-normal text-start py-5">Modulo 3</h2>
        
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Nombre del modulo :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-6" id="colFormLabelSm">
                    </div>
                </div><br>
        
                    
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Cantidad de dias :</label>
                    <div class="col-sm-2">
                        <select class="form-select form-select-sm" number=".form-select-sm example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                        <div class="col-6">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-dark me-md-2" type="button">
                                    <img src="http://www.lkl18.com/wp-content/uploads/2017/06/158-icono-de-una-tuerca.png" alt="" width="20" height="20">
                                </button>
                                <button class="btn btn-outline-dark" type="button">Eliminar</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
            
            <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        
                        <h2 class="fst-normal text-start py-5">Modulo 4</h2>
            
                        <div class="row mb-3">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Nombre del modulo :</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control form-control-6" id="colFormLabelSm">
                            </div>
                        </div><br>
            
                        
                            <div class="row mb-3">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-end">Cantidad de dias :</label>
                                <div class="col-sm-2">
                                    <select class="form-select form-select-sm" number=".form-select-sm example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-dark me-md-2" type="button">
                                            <img src="http://www.lkl18.com/wp-content/uploads/2017/06/158-icono-de-una-tuerca.png" alt="" width="20" height="20">
                                        </button>
                                        <button class="btn btn-outline-dark" type="button">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-11">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-light me-md-2" type="button">Terminar</button>
                       </div><br><br>
                    </div>
</div><br><br><br>
         






