body{
background: #97ABAE;
background: linear-gradient(to right, #559A95,#97ABAE)

}
.formulario{
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    color:white;
}
.ingresar{
    padding: 10px;
    font-size: large;
    font-weight: 700!important;
    color: white;

}

